@import "../../../../styles.scss";

.main__menu {
  margin: 16px;
  min-width: 15%;
  border-right: none;
  text-align: left;
  border-radius: 4px;
}

.main__menu_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  padding: 22px 16px;

  mat-icon {
    margin-right: 8px;
  }
}

.main__menu_item:not(.main__menu_item_active):hover {
  background: white;
  font-weight: bold;
  color: $primaryDarkColor;
}

.main__menu_item_active {
  background: $primaryLightColor;
  font-weight: bold;
  color: white;
}

mat-sidenav-content {
  height: calc(100vh - 84px);
}

.main__content {
  border-radius: 10px;
  margin: 16px 16px 16px 32px;
}