<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <a routerLink="/main/contracts">
                <mat-icon
                        matTooltip="Вернуться к списку договоров"
                        matTooltipPosition="right"
                        color="primary">
                    subdirectory_arrow_left
                </mat-icon>
            </a>
        </div>
    </mat-card-header>
    <mat-card-title>{{getContractInfo(contract)}}</mat-card-title>
    <mat-card-subtitle>
        <h2>{{title | uppercase }}</h2>
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="card-container">
            <div class="card_list">
                <mat-list>
                    <mat-list-item>
                        <h4 matLine>Заемщик: </h4>
                        <p matLine>{{contract?.clientName}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h4 matLine>Кредит на сумму: </h4>
                        <p matLine class="sum-rub">{{contract?.sum}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h4 matLine>Начало действия договора: </h4>
                        <p matLine>{{contract?.createdAt}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h4 matLine>Срок кредита: </h4>
                        <p matLine class="period-month">{{contract?.period}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h4 matLine>Процентная ставка: </h4>
                        <p matLine class="percent">{{contract?.percent}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h4 matLine>Текущий статус: </h4>
                        <p matLine>{{contract ? contractService.renderContractStatus(contract.status) : ''}}</p>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="card_calculation">
                <h4>График платежей:</h4>
                <app-calculation-list [$calcDtoSubj]="$calcDtoSubj"></app-calculation-list>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>
