@import "../../../../styles.scss";

table {
  width: 100%;
  .mat-header-row {
    background-color: $secLightColor;
    font-weight: bold;
    th.mat-header-cell {
      border-bottom: 0;
    }
  }
  th.mat-header-cell {
    border-bottom: 0;
  }
  th.menu-column {
    width: 2%;
  }
  th.id-column {
    width: 5%;
  }
  th.name-column {
    width: 25%;
  }
  th.passport-column {
    width: 20%;
  }
  th.address-column {
    width: 30%;
  }
  th.phone-column {
    width: 18%;
  }
}