@import "../../../../settings";

table {
  width: 100%;
  left: 5%;
  right: 5%;
  top: 0;

  .mat-header-row {
    background-color: $secLightColor;
    font-weight: bold;
    th.mat-header-cell {
      border-bottom: 0;
    }
  }

  th.month-column {
    width: 15%;
  }
  th.percent-column {
    width: 15%;
  }
  th.payment-column {
    width: 30%;
  }
  th.sum-column {
    width: 30%;
  }
}