spring:
  flyway:
    locations: classpath:/db/migration
    url: jdbc:h2:mem:awp;MODE=PostgreSQL
    user: sa
    password:
    connect-retries: 60
    validate-on-migrate: true
    enabled: true

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:awp;MODE=PostgreSQL
    username: sa
    password:
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    generate-ddl: false
    hibernate:
      ddl-auto: none
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
        trace: false
      # see console from url: http://localhost:8080/h2-console/
      path: /h2-console