<mat-card>
    <mat-card-title>{{title | uppercase}}</mat-card-title>
    <mat-card-content class="calc_block">
        <mat-grid-list cols="3" rowHeight="127px">

            <mat-grid-tile id="calc_controls"  colspan="1" rowspan="5">
                <mat-slider vertical color="warn"
                [step]="percentSliderConfig.step"
                [min]="percentSliderConfig.minValue"
                [max]="percentSliderConfig.maxValue"
                [thumbLabel]="percentSliderConfig.showThumb"
                [(ngModel)]="calcDto.percent">
                </mat-slider>
                <mat-label class="percent slider-label">{{calcDto.percent}}</mat-label>
                <mat-form-field class="calc-form-field sum-field" appearance="fill">
                    <mat-label>Сумма кредита, руб.</mat-label>
                    <input matInput type="text" [(ngModel)]="calcDto.sum">
                    <button matSuffix mat-icon-button (click)="calcDto.sum=minSum">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="calc-form-field percent-field" appearance="fill">
                    <mat-label>Срок кредита, мес.</mat-label>
                    <input matInput type="text" [(ngModel)]="calcDto.period">
                    <button matSuffix mat-icon-button (click)="calcDto.period=minPeriod">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button class="calc-button" color="primary" (click)="onCalculateClick()">
                    Рассчитать
                </button>
            </mat-grid-tile>
            <mat-grid-tile id="calc_content" colspan="2" rowspan="5">
                <table mat-table [dataSource]="dataSource">
                    <!-- Month Column -->
                    <ng-container matColumnDef="month" class="month-column">
                        <th mat-header-cell *matHeaderCellDef> Месяц </th>
                        <td mat-cell *matCellDef="let calculation"> {{calculation.month}} </td>
                    </ng-container>

                    <!-- Percent Column -->
                    <ng-container matColumnDef="partPercent" class="percent-column">
                        <th mat-header-cell *matHeaderCellDef> Проценты </th>
                        <td mat-cell *matCellDef="let calculation"> {{calculation.partPercent}} </td>
                    </ng-container>

                    <!-- Payment Column -->
                    <ng-container matColumnDef="partPayment" class="payment-column">
                        <th mat-header-cell *matHeaderCellDef> Платеж, руб. </th>
                        <td mat-cell *matCellDef="let calculation" class="sum-rub"> {{calculation.partPayment}} </td>
                    </ng-container>

                    <!-- Sum Column -->
                    <ng-container matColumnDef="partSum" class="sum-column">
                        <th mat-header-cell *matHeaderCellDef> Остаток, руб. </th>
                        <td mat-cell *matCellDef="let calculation" class="sum-rub"> {{calculation.partSum}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let request columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4"></td>
                    </tr>
                </table>
            </mat-grid-tile>
            <mat-grid-tile id="calc_footer" colspan="3" rowspan="1">

            </mat-grid-tile>

        </mat-grid-list>
    </mat-card-content>
</mat-card>

