@import "../../../../settings";

.calc_block {
  margin-right: 1%;
}

.calc-form-field {
  width: 70%;
  position: absolute;
  left: 25%;
  font-size: 1.5em;
  color: $primaryColor;
}

.sum-field {
  top: 30%;
}

.percent-field {
  bottom: 25%
}

.calc-button {
  position: absolute;
  bottom: 7%;
  left: 25%;
  width: 70%;
}

mat-slider {
  height: 80%;
  position: absolute;
  left: 7%;
  bottom: 5%;
}

.slider-label {
  font-weight: bold;
  position: absolute;
  left: 10%;
  top: 10%;
  color: $primaryDarkColor;
  font-size: 1.5em;
}

#calc_footer {
  background: $secColor;
}

#calc_controls {

}

#calc_content {
  overflow-y: auto;
}

table {
  position: absolute;
  width: 100%;
  left: 5%;
  right: 5%;
  top: 0;

  .mat-header-row {
    background-color: $secLightColor;
    font-weight: bold;
    th.mat-header-cell {
      border-bottom: 0;
    }
  }

  th.month-column {
    width: 15%;
  }
  th.percent-column {
    width: 15%;
  }
  th.payment-column {
    width: 30%;
  }
  th.sum-column {
    width: 30%;
  }
}

