<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <a routerLink="/main/requests">
                <mat-icon
                        matTooltip="Вернуться к списку заявок"
                        matTooltipPosition="right"
                        color="warn">
                    close
                </mat-icon>
            </a>
        </div>
    </mat-card-header>
    <mat-card-subtitle>
        <h2>{{title | uppercase }}</h2>
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="edit-form-group">
            <form [formGroup]="editForm" [style.fontSize.px]="16">
                <p>
                    <mat-form-field appearance="fill" color="warn">
                        <mat-label>Ф.И.О заемщика</mat-label>
                        <input matInput placeholder="Иванов И.И." formControlName="clientName">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-label>Сумма кредита, руб.</mat-label>
                        <input matInput placeholder="10000" formControlName="sum" type="number">
                        <mat-error *ngIf="formErrors['sum']">{{formErrors['sum']}}</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-label>Срок кредита, мес.</mat-label>
                        <input matInput placeholder="12" formControlName="period" type="number">
                        <mat-error *ngIf="formErrors['period']">{{formErrors['period']}}</mat-error>
                    </mat-form-field>
                </p>
            </form>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="onSaveClick()">Сохранить</button>
        <button mat-stroked-button color="accent"  (click)="onDiscardClick()">Отменить изменения</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>
