.card-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 690px;
}

.card_list {
  width: 30%;
}

.card_calculation {
  h4 {
    margin-top: 8px;
  }
  margin-top: 6px;
  width: 60%;
  overflow-y: auto;
}