.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  h1 {
    margin-bottom: 1rem;
  }
}

.errors {
  margin-top: 18px;
}


